

<% include ./partials/headers %>






	<div class=" ui center aligned  container">
		<div class="pusher">
    		<h1 id="head">Bite Site</h1>
			<a class="ui  blue button"  href="/posts/new">Add New Bite Site</a>
			<br><br><br>

	  		<div class="ui  hidden divider"></div>

		</div>











<% campgrounds.forEach(function(campground){ %>
<div class="responsive">
    <div class="gallery">
        <a href="/posts/<%= campground._id %>">
            <img src="<%= campground.image %>" alt="<%= campground.name  %> " width="600" height="400">
        </a>

        <div class="desc">
            <%= campground.name  %>
        </div>
        <button class="button "><a href ="/posts/<%= campground._id %>" >more info</a></button>
    </div>
</div>
<% }); %>
<div class="clearfix"></div>

		</div>











	<br><br><br></br></br></br>

			<div>
			</br>
<% include ./partials/footer %></div>

</body>
</html>